* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 120px;
    background-color: #B233FF;
    color: black;
    /* 1 pixel white shadow to left, top, right and bottom */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h1,
h2 {
    text-align: center;
    color: black;
    /* 1 pixel white shadow to left, top, right and bottom */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 40px;
    font-size: 20px;
    color: black;
    /* 1 pixel white shadow to left, top, right and bottom */
    text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
}

p {
    text-align: center;
    font-size: 30px;
  }

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #616161;
}

.light-mode {
    background-color: white;
    color: black;
    
}
.dark-mode {
    background-color: black;
    color: white;
}